* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: darkturquoise;
    border-color: darkturquoise;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;

    text-align: center;
    font-size: 25px;
    padding: 0% 0%;
    margin-left: 50px;
    margin-top: 7px;
}

.nav{
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: whitesmoke;
    min-height: 40px;
    margin: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.nav-links > li, a{                                                    
    color: whitesmoke;
    min-height: 25px;
    margin: 10px;
    list-style-type: none;
    text-decoration: none;
}